<br>
<div class="float-right white"><%= render "/layouts/coins_ui" %></div>
<br>
<div class="booyah-box col-sm-10 offset-sm-1">
  <h1 class="text-center">The Worlds Wishes</h1>
  <hr>
  <br>

  <% @wishes.each do |wish| %>
    <h2 class="text-center"><%= wish.description%></h2>
    <%= link_to "view", wish_path(wish) %>
    <br>
  <% end %>
</div>
