<br>
<div class="float-right white fixedElement"><%= render "/layouts/coins_ui" %></div>
<br>
<div class="booyah-box col-sm-10 offset-sm-1">
  <h1 class="text-center my-font">Wish List</h1>
  <hr>

 <div class="row">
   <% @wishes.each do |wish| %>
  <%= link_to wish_path(wish) do%>
  <div class="col-6 col-sm-6 wish-link">
    <%= render "wish", wish: wish %>

  <% end %>
    <hr>
  </div>
<% end %>

</div>
<%= will_paginate @wishes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, inner_window: 1, outer_window: 0 %>
</div>



