<br>
<div class="float-right white"><%= render "/layouts/coins_ui" %></div>
<br>
<div class="booyah-box col-10 offset-1">
  <h1>Make A Wish</h1>
  <%= simple_form_for @wish, url: wishes_path do |f| %>
    <%= f.input :description, placeholder: "Add Your Wish" %>
    <br>
    <%= f.submit "Make Wish", class: "btn btn-primary" %>
  <% end %>
</div>
