<p>Hey There!</p>
<p>
  Congrats! <b>Someone just supported your wish</b>
</p>

<p>
  You now have <b><%= @total_wish_coins %></b> total support

  <br>
  Check it out <%= link_to "here", wish_url(@wish) %>
</p>

Thank you, <br />
Ken
