@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600');
@import url('https://fonts.googleapis.com/css?family=Spirax');
@import url('https://fonts.googleapis.com/css?family=Qwigley');




html{
  height: 100%;

}

body{
  /*background-color: #0c0f09;*/
  background-image: image_url("pink.png");
  height: 100%;
  position: relative;
}

.add-coins-alert{
  word-wrap: break-word;
}


.clear{
  clear:both;
}

#kcontainer{
  min-height:500px;
  position: relative;
}


.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;

}

h1,h2,h3,h4,h5,h6, .navbar{
  margin: 0;
}

.hero{

  background: image_url('hero2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;


}

.frosty{
  background: rgba(0,0,0,0.5);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;

}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;

}

.btn{
  border-radius: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;

}

.booyah-box2 {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  /*background-image: url("https://images.unsplash.com/photo-1484979045040-0ab3854b6acb?dpr=2&auto=format&fit=crop&w=1500&h=1027&q=80&cs=tinysrgb&crop=&bg=");*/
  /*background-image: url("https://source.unsplash.com/category/nature");*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
  height:100%vh;

}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.help-block{
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.white{
  color:white;
  margin-right:20px;
}


.white-link a:link, .white-link a:visited, .white-link a:hover, .white-link a:active{
  text-decoration:none !important;
  color: #ffffff;
}



/* FORM */
.form{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 90%;
    margin: 5% auto;
    padding: 16px;
    background: #F7F7F7;
    /*background: transparant;*/
    opacity:0.78;
    /*height:45vh;*/
    height: 350px;


}



.form h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form input[type="submit"]/*,
.form input[type="button"],*/
.form .btn{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.form input[type="submit"]:hover,
.form input[type="button"]:hover{
    background: #2EBC99;
}

.btn-green{
  background: #2EBC99;
  color:white;
}

#cloud-container{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  /*z-index:-1; /* Remove this line if it's not going to be a background! */

}



/* The sticky */
/*.white {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}*/

.fixedElement {
    position:fixed;
    right:6px;
    z-index:100;
    background:rgba(0,0,0,0.5)
}

.my-font{
  font-family: 'Josefin Slab', serif;
  letter-spacing: 3px;

}

.my-font2{
  font-family: 'Qwigley', cursive;
  font-size: 7em;
  color: #f3f4f6;
  text-shadow: 1px 3px black;

}

.my-font3{
  font-family: 'Spirax', cursive;
  letter-spacing: 3px;
}

.wish-description{
  font-family: 'Spirax', cursive;
  letter-spacing: 3px;
  background: rgba(250,250,250,0.5)
}

.wish-description::first-letter{
  text-transform:uppercase;
}
.username::first-letter{

    /*font-size: 200%;*/
    /*color: #8A2BE2;*/
    text-transform: uppercase;

}


.btn-remove{
  padding: 0;
  border: none;
  background: none;
}

.font-awesome-bigger{
  font-size: 3em;
}

.heart-text { margin-top: .3em; }

.wish-link a:link, .wish-link a:visited, .wish-link a:hover, .wish-link a:active{
  text-decoration:none !important;
  color: #000000;
}




#myModal, #myModal #wish_description{
  font-family: 'Spirax', cursive;
  letter-spacing: 3px;
}

.hideMe{
  visibility:hidden;
}

/* SIDE NAV */
.navbar-side{
    height: 100%;
    width:25%;
    position:fixed;
    top:0;
    right:0;
    padding:0;
    list-style: none;
    border-left:2px solid #ccc;
    background-color: #0c0f09;
    overflow-y: scroll;
    z-index: 1000;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    @include media-breakpoint-up(xs) { width: 65%; } // Small
    @include media-breakpoint-up(sm) { width: 50%; } // Medium
    @include media-breakpoint-up(md) { width: 25%; } // Large
}

.navbar-side-item{
    padding:1.5rem 0;
    margin:0;
    border-bottom: 2px solid #ccc;
    height: 5rem;
}

.navbar-side a{
    padding-left:2rem;
    color: white;

}

 .reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.overlay{
    position:fixed;
    display: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    cursor: pointer;
    background-color: #ccc;
    opacity:0.6;
    z-index: 990;
}


/* Comment Section */
.comment-meta {
    position: relative;
    padding-left: 45px;
    min-height: 37px;
    height: auto;
    background: #f1f5f8;
    line-height: 37px;
}

.ct-commentauthorname {
    color: #A5AFC0;
    font-weight: bold;
}

.ct-commenttime {
    display: inline;
    float: right;
    margin-right: 10px;
    color: rgb(165, 175, 192);
}

.ct-commentnumber {
    position: absolute;
    right: 10px;
    bottom: 23px;
    color: #F4F5F7;
    font-size: 36px;
    line-height: 36px;
}

.ct-commentcontent, .ct-author-page-desc {
    line-height: 1.5;
}

.ct-commentcontent {
    position: relative;
    padding: 20px 55px 30px 45px;
    width: auto;
    height: 50vh;
    color:white;
    overflow-y: scroll;
}

.ct-commentcontent h4{
  font-size: 5vh;
  background: rgba(0,0,0,0.5)
}

.fa-show{
  margin:0 10px;
}

#comment_message, #wish_description{
  background: none;
  font-size:5em;
  color: white;
  resize: none;
  border: 0 none;
  width:100%;
  outline: none;
  height: 100%;
  position:absolute;
  text-shadow: 1px 3px black;



}


.make-comment{
  background: transparant;
  padding: 20px;
  height: 100%;
  position: relative;
}


.comment-div{
  display:none;
}

.pagination {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #43D1AF;
    border-color: #43D1AF;
}

.pick-photo{
  position: absolute;
  top:0;
  left:0;
  background-color:  #43D1AF;
  border-color: white;
  color:white;
}

.wish-button{
  position:absolute;
  top: 0;
  right:0;
  background-color:  #43D1AF;
  border-color: white;
  color:white;
}

.btn.nohover:hover {
    /* here copy default .btn class styles */
    cursor:default !important;
    /* or something like that */
}

.underlined {
  text-decoration: underline dotted #43D1AF;;
}

.user-coins{
  position: absolute;
  right: 0;
  background:rgba(0,0,0,0.5)
}



.wish-comments{
  overflow:auto;
}


.comment-heart .wish-coin, .comment-heart .wish-comments{
  float: left;
}



.comment-heart h3{
  display:table;
  margin: 0 auto;;
}


@media (max-width:641px){
  .form{
    max-width:100%;
    margin: 50px auto;
  }

  .my-font2{
  font-family: 'Qwigley', cursive;
  font-size: 5em;
  color: #f3f4f6;
  text-shadow: 1px 3px black;

  }
}

@media (min-width: 992px){
  .modal-lg{
    width: 900px;
    height: 900px; /* control height here */
  }
}


